{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parser":  "@typescript-eslint/parser",
  "plugins": ["typescript"],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaVersion": 2019,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/ban-ts-comment": 0
  }
}
